body{

    background-image: url(http://longwallpapers.com/Desktop-Wallpaper/retro-game-background-For-Desktop-Wallpaper.jpg);
}

h1{
    font-family: 'Monoton', cursive;
    font-size:45px;
    text-align: center;
    padding: 20px;
    color: black;
}

h2{
    font-family: 'Monoton', cursive;
    font-size: 20px;
    text-align: center;
    padding:10px;
}
.wins{
    font-family: 'Monoton', cursive;
    font-size:20px;
    text-align: center;
    padding:10px;
}

.losses{
    font-family: 'Monoton', cursive;
    font-size:20px;
    text-align: center;
    padding:10px;
}
.guessesCounter{
    font-family: 'Monoton', cursive;
    font-size:20px;
    text-align: center;
    padding:10px;
}
.lettersList{
    font-family: 'Monoton', cursive;
    font-size:20px;
    text-align: center;
    padding:10px;
}
